body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
}

main {
    padding: 1em;
    display: flex;  
}

.recipe {
    background-color: #fff;
    margin: 1em 0;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe img {
    max-width: 100%;
    height: auto;
}

.recipe h2 {
    margin-top: 0;
}
